* {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.background {
    /*background image */
    background-image: url(img_background.jpg);
    height: 700px;
    background-size: max(1200px 100vw);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;


}

.background .box {
    /* black box using z index position absolute wrt bg image*/
    height: 700px;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    /*nav bar using flex*/
    display: flex;
    align-items: center;
    max-width: 78vw;
    height: 65px;
    margin: auto;
    justify-content: space-between;
}

nav img {
    /* logo */
    width: 150px;
    position: relative;
    top: 15px;
    z-index: 1;
}

nav button {
    /* nav bottons */
    position: relative;
    z-index: 1;
}

.text {
    /* text using flex*/
    height: calc(100% - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 20px;
    padding: 0 20px;
}

.text> :first-child {
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.text> :nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.text> :nth-child(3) {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

body {
    background-color: black;
}

.separation {
    height: 5px;
    background-color: rgb(67, 67, 67);
    opacity: 0.4;
    position: relative;
    z-index: 20;
}

.btn {
    font-weight: 600;
    font-size: large;
    padding: 4px 18px;
    color: white;
    background-color: rgba(23, 23, 23, 0.9);
    cursor: pointer;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 15px;
}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 22px;
    padding: 11px 40px 11px 40px;
    font-weight: 600;
}

.btn-red-sn {
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 8px;
    margin: 15px;
}

.mail {
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 18px 170px 18px 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(227, 224, 224, 0.5);
    font-weight: 300;
    margin-top: 28px;
}

.textbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* section starts from here */
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    color: white;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 36vw;
    position: relative;
    z-index: 10;

}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0px;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.first>div :nth-child(2) {
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .third .secimg video{

} */
section .lastinput span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 14px;
    font-size: 20px;
    
}
.faq{
    background-color: black;
    padding: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.faq h2{
    text-align: center;
    padding: 15px;
    font-size: 48px;
    color: white;
}

.faqbox{
    display: flex;
    padding: 25px;
    background-color: rgb(52, 52, 52);
    margin: 18px auto;
    max-width: 70vw;
    font-size: 24px;
    color: white;
    justify-content: space-between;
    cursor: pointer;
}
.faqbox:hover{
    background-color: rgb(75, 75, 75);
}

footer{
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 32px;
}
footer .ques{
    padding: 30px 0;
    font-size: 16px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 70vw;
    margin: auto; 
}
.footeritem{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .btn{
    margin: 20px 0;
    padding: 2 5 8 12px;
}
.footer a{
    font-size: 16px;
    color: white;
}